/**CSS GENERAL**/

body{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    font-family: arial black;
    font-size: 50px;
    color:white;
    margin: 0px;
    padding: 50px;   
}

h2{
    font-family: arial black;
    font-size: 50px;
    color:white;
    margin: 0px;
    padding: 50px;   
}


/** Box1 = Banner**/
#box1{
    height: 100vh;
    width: 100%;
    background-image: url(images/banner-trocadero.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}