/** Variables **/
/** Mixins **/
/** General **/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url(images/banner-trocadero.jpg);
  background-size: cover;
  background-attachment: fixed;
  opacity: 90%;
  color: rgb(54, 54, 54);
}

/** Box1 = Banner**/
#box1 h1 {
  font-size: 50px;
  margin: 0px;
  padding: 50px;
  text-align: center;
  color: rgb(54, 54, 54);
}
#box1 h2 {
  font-size: 30px;
  padding: 50px;
  text-align: center;
  color: rgb(54, 54, 54);
}
#box1 h5 {
  padding: 50px;
  text-align: center;
  color: rgb(54, 54, 54);
}

/** Box2 = Presentation **/
#box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(#fff, rgb(142, 199, 249));
}
#box2 .img-box {
  opacity: 1;
  width: 60%;
  height: 60%;
  padding-top: 90px;
  padding-left: 100px;
  padding-right: 100px;
}
#box2 .txt-box {
  padding-top: 150px;
  padding-right: 120px;
  width: 50%;
  height: 50%;
}
#box2 .title-box {
  padding-bottom: 300px;
  padding-left: 100px;
}

/** Box3 = Photos **/
.photos-histoire {
  background: linear-gradient(rgb(142, 199, 249), #fff);
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.photos {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding-top: 120px;
}

div:nth-of-type(4) {
  grid-column: 4/5;
}

/** Box4 = Architecture **/
#box4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(#fff, rgb(142, 199, 249));
  text-align: center;
}
#box4 .img-box {
  opacity: 1;
  width: 60%;
  height: 60%;
  padding-top: 90px;
  padding-left: 100px;
  padding-right: 100px;
}
#box4 .txt-box {
  padding-top: 150px;
  padding-right: 120px;
  width: 50%;
  height: 50%;
}
#box4 .title-box {
  display: inline-flex;
  padding-bottom: 300px;
  padding-left: 150px;
}

/** Box5 = footer **/
#box5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-left: 100px;
  height: 100vh;
  width: 100%;
  background-image: url(images/banner-trocadero.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#box5bis {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(142, 199, 249);
  padding-top: 300px;
  padding-left: 100px;
}

.rond1 {
  position: relative;
  height: 10vh;
  width: 5%;
  background-color: rgb(70, 147, 224);
  border-radius: 90px;
  right: 20px;
}

.rond2 {
  position: relative;
  height: 10vh;
  width: 5%;
  background-color: rgb(115, 205, 250);
  z-index: 1;
  right: 30px;
  border-radius: 90px;
}

.rond3 {
  position: relative;
  height: 10vh;
  width: 5%;
  background-color: rgb(70, 224, 203);
  z-index: 2;
  left: 50px;
  border-radius: 90px;
}

.rond4 {
  position: relative;
  height: 10vh;
  width: 5%;
  background-color: rgb(33, 105, 177);
  z-index: 3;
  left: 40px;
  border-radius: 90px;
}

.link {
  text-decoration: none;
  color: black;
}

/** Box5 = Responsive  **/
/** Fin Box5  **/
/** Responsive  **/
@media screen and (max-width: 900px) and (min-width: 600px) {
  #box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  #box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 200px;
    height: 100%;
    width: 100%;
  }
  #box2 .txt-box {
    padding-top: 5%;
    width: 50%;
  }
  #box2 .title-box {
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 3%;
    font-size: 1.5rem;
  }
  #box2 .img-box {
    width: 70vh;
    height: 60%;
    padding-top: 120px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .photos {
    display: grid;
    grid-template-rows: 10% 10% 10% 10%;
    width: 85%;
    height: 85vh;
    padding-top: 20%;
  }
  div:nth-of-type(2) {
    grid-column: 5/6;
    grid-row: -2/-1;
  }
  div:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  div:nth-of-type(4) {
    grid-column: 5/6;
    grid-row: -5/-4;
  }
  div:nth-of-type(5) {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  #box4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  #box4 .txt-box {
    padding-bottom: 500px;
    padding-right: 3%;
    width: 50%;
  }
  #box4 .title-box {
    padding-left: 3%;
    font-size: 1.5rem;
  }
  #box4 .img-box {
    width: 70vh;
    height: 60%;
    padding-bottom: 300px;
    padding-left: 100px;
    padding-right: 100px;
  }
  #box5 h1 {
    padding-right: 150px;
  }
  #box5bis {
    padding-right: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
